input, select, textarea {
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    background-color: #4CAF50;
    padding: 10px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}
#menu {
    align-items: center;
    padding: 10px;
    margin-right: 25px;

}
#menu a {
    margin: 10px;
    color: black;
}
img {
    width: 150px;
    border-radius: 100px;
}
#container{
    background-color: rgb(138, 130, 130);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}