.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    margin: 10px;
    height: 500px;
    width: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    transition: 2s;
}
#box1 {
    background-image: url(paisagem.jfif);
}
#box2 {
    background-image: url(paisagem2.jfif);
}
#box3 {
    background-image: url(paisagem3.jpg);
}
#box4 {
    background-image: url(paisagem4.jpg);
}
#box5 {
    background-image: url(paisagem5.jpg);
}

.box:hover {
    width: 500px;
}